
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#Text_uitleg{
    font-size: 3em;
    font-family: "Nunito", sans-serif;
    color: white;
}
#controls_text{
    background-color: black;
    font-size: 2em;
    font-family: "Tiny5","sans-serif";
    color: white;
}
#button_hoofdpagina{
    background-color: white;
    font-family: "Tiny5","sans-serif";
    color: black;
    border-radius: 10px;
    height: 7vh;
    width: 30vh;
    font-size: 2em;
}
#button_tomain_fromfoto{
    background-color: white;
    font-family: "Tiny5","sans-serif";
    color: black;
    border-radius: 10px;
    height: 3em;
    width: 10em;
    font-size: 1em;
    margin-top: 4em;
    margin-left: 30em;
}
#button_tomain_fromcontrols{
    background-color: white;
    font-family: "Tiny5","sans-serif";
    color: black;
    border-radius: 10px;
    height: 3em;
    width: 10em;
    font-size: 1em;
    margin-top: 4em;
    margin-left: 0em;
}
#afbeelding{
    width: 600px;
    height: auto;
}
#flappy{
    width: 200px;
    height: auto;
}
.afbeeldingen{
    display: table-row;
    display: flex;

}
.knop_afbeelding{
    display: flex;
    flex-direction: column-reverse;
}