body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#uitleg_website{
    font-size: 3em;
    font-family: "Tiny5","sans-serif";
    color: white;
}
#button_hoofdpagina{
    background-color: white;
    font-family: "Tiny5","sans-serif";
    color: black;
    border-radius: 10px;
    height: 5vh;
    width: 10vh;
    font-size: 1em;
}
#button_foto{
    background-color: white;
    font-family: "Tiny5","sans-serif";
    color: black;
    border-radius: 10px;
    height: 5vh;
    width: 30vh;
    font-size: 1em;
}
#afbeelding{
    width: 700px;
    height: auto;
}
#flappy{
    width: 200px;
    height: auto;
}
.afbeeldingen{
    display: table-row;
    display: flex;
}
.knop_afbeelding{
    display: ruby;
}