.dropdown_menu{
    width: 100%;
    opacity: 0;
    transition: 5s;
}

.dropdown_menu:hover{
    opacity: 1;
}

ul{
    list-style: none;
    background-color: blue;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}



ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 20px 25px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 100%;
    background-color: blue;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background: #00008b;
}
ul li:hover ul.dropdown{
    display: block;
}
ul li ul.dropdown li ul.dropdown-right {
    position: absolute;
    top: 0;
    left: 100%; 
    background-color: blue;
    display: none;
    padding: 0;
}


ul li ul.dropdown li:hover > ul.dropdown-right {
    display: block;
}

ul li ul.dropdown li ul.dropdown-right li a {
    font-size: 18px;
    height: 55px;
    padding-top: 30.5px;
    padding-bottom: 0;
}