body{
    position: relative;
    display: flex;
}

#flappy{
    height: 50%;
    width: auto;
    left: 30px;
    bottom: 290px;
}

.foto_pijl{
    position: relative;
    margin-top: 30px;
    right: 35%;
}

.pijl{
    font-size: 100px;
    animation: bewegen 1.5s infinite;
    position: relative;
}
@keyframes bewegen {
    0% { transform: translateY(0px); }
    50% { transform: translateY(30px); }    
    100% { transform: translateY(0px); }
}
.pijl:hover{
    font-size: 0;
    text-align: center;
}
.pijl:hover:after{
    content: attr(data-hover);
    font-size: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    white-space: nowrap;
}
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.2;
}
.uitlegFlappyGame{
    position: absolute;
    width: 300px;
    bottom: -300px;
    right: 80px;
}





















/*.uitlegFlappyGame{
    position: absolute;
    right: 5%;
    top: 20%;
    font-size: 200%;
    width: 500px;
}*/
/*@media screen and (max-width: 600px){
    .foto_pijl{
        position: relative;
        margin-top: 30px;
        right: 0;
    }
    .pijl{
        font-size: 1px;
    }
}
@media only screen and (min-width: 601px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}
/*.pijl{
    font-size: 100px;
    animation: bewegen 1.5s infinite;
    margin-left: 130px;
}*/