.flappyBirdGame{
    margin-top: 90px;
    margin-right: 900px;
}
.pijl{
    font-size: 100px;
    animation: bewegen 1.5s infinite;
    display: inline-block;
    margin-right: 900px;;
}

@keyframes bewegen {
    0% { transform: translateY(0px); }
    50% { transform: translateY(30px); }
    100% { transform: translateY(0px); }
}
.pijl:hover{
    font-size: 0;
    position: relative;
}
.pijl:hover:after{
    content: attr(data-hover);
    font-size: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    white-space: nowrap;
}
.uitlegFlappyGame{
    position: relative;
    border: red 10px solid;
    top: 10px;
    right: 10px;
    font-size: 200%;
    padding-top: 0;
    width: 600px;
}
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.1;
}